$secundary-color: #f69c2a;
$bg-color-main: #f6f6f6;
$bg-section: #ffffff;
$bg-menu: #f6f6f6;
$bg-hero: #1e1f1f;
$txt-hero: #f6f6f6;
$fsize-hero: 3.8rem;
$white: #fff;
$hero-p: #ddd8c6;
$arrow-after-color: #be7601;
$arrow-before-color: #f6f6f6;
