@import "./colors.scss";
// globals
@font-face {
  font-family: "Opensans";
  font-style: normal;
  src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Freight Display Pro";
  font-style: normal;
  src: url("../fonts/freight/Freight\ Display\ Pro\ Light.otf")
    format("truetype");
}

$xl: 1920px;
$lg: 1280px;
$md: 960px;
$sm: 600px;
$xs: 375px;

$primary-color: #1e1f1f;
$prim-color: rgba(14, 13, 15, 0.98);
$overlay-color: rgb(14, 13, 15);
// bg color

// menu vars
$menu-border: 1px;
$menu-speed: 0.75s;
// hero vars

$font-os: "Open Sans", sans-serif;
$font-fr: "Freight Display Pro", serif;
$section-padding: 7.5em;

%title-900 {
  color: $txt-hero;
  font-size: $fsize-hero;
  font-family: $font-os;
}

%title-800 {
  font-size: 2rem;
  font-family: $font-os;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: $primary-color;
}

%title-700 {
  font-size: 1rem;
  font-family: $font-fr;
  font-weight: 600;
  color: $primary-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $bg-color-main;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/* FONTS */

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  @extend %title-800;
}

h2 {
  @extend %title-700;
}

section.hero > header {
  h1 {
    @extend %title-900;
  }
}
