@font-face {
  font-family: "Opensans";
  font-style: normal;
  src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Freight Display Pro";
  font-style: normal;
  src: url("../fonts/freight/Freight Display Pro Light.otf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/* FONTS */
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #1e1f1f;
}

h2 {
  font-size: 1rem;
  font-family: "Freight Display Pro", serif;
  font-weight: 600;
  color: #1e1f1f;
}

section.hero > header h1 {
  color: #f6f6f6;
  font-size: 3.8rem;
  font-family: "Open Sans", sans-serif;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  /* specifieke styling */
}

@media (max-width: 600px) {
  .menu-wrap {
    width: 1rem;
  }
}

.menu-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
}

.menu-wrap .logo > svg {
  display: block;
  height: 40px;
  fill: #1e1f1f;
}

.menu-wrap .sidebar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-wrap .sidebar_logo > svg {
  display: block;
  height: 40px;
  fill: #1e1f1f;
}

@media (max-width: 600px) {
  .menu-wrap .sidebar_logo > svg {
    width: 20px;
    height: 20px;
  }
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

@media (max-width: 600px) {
  .menu-wrap .toggler {
    width: 30px;
    height: 30px;
  }
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .menu-wrap .hamburger {
    padding: 0.5rem;
    width: 45px;
    height: 45px;
  }
}

.menu-wrap .hamburger div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #1e1f1f;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger div:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  top: 10px;
}

.menu-wrap .toggler:checked {
  /* hover rotate when open */
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: white;
}

.menu-wrap .toggler:checked + .hamburger > div:before, .menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu div div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
  max-height: none;
  max-width: none;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu div {
  background: #0e0d0f;
  border-radius: 50%;
  width: 200vw;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu div div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu div div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 600px) {
  .menu-wrap .menu div div ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }
}

.menu-wrap .menu div div ul > li {
  list-style: none;
  color: #f6f6f6;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu div div ul > li a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu-wrap .menu div div ul > li a:hover {
  color: #f69c2a;
}

div.activeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

div.activeTitle p {
  font-size: 0.8em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: "Freight Display Pro", serif;
  letter-spacing: 0.3em;
  color: #f69c2a;
  font-weight: 800;
  padding: 0;
  margin: 0;
  white-space: pre;
}

.sidebar_logo {
  height: 32px;
}
/*# sourceMappingURL=menu.css.map */